* {
  scroll-behavior: smooth;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(90deg, #cdffd8, #94b9ff);
}
